<nav class="navbar navbar-dark" style="background-color: #21244b;">
  <div class="container-fluid">
    <h4 style="margin-bottom: 0; padding: 5px; color: #ffffff;">FB Live : ระบบดูดออเดอร์ไลฟ์สด</h4>
  </div>
</nav>
<ng-container *ngIf="!isLoggedin">
  <div class="card" style="margin: 20px; width: 18rem; text-align: center;">
    <img src="assets/images/fb-live-logo.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">FB Live</h5>
      <p class="card-text">ระบบดูดออเดอร์ไลฟ์สด เปิดบิลอัตโนมัติเมื่อมีลูกค้าพิมพ์ CF</p>
      <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-block">
        เข้าสู่ระบบด้วย Facebook</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isLoggedin">
  <div class="row" style="margin: 5px;">
    <div class="col" style="padding: 0;">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6" style="display: inline-block;">
              <select class="form-select" style="width: 30%; display: inline-block; margin-right: 10px;"
                [disabled]="liveStatus" [(ngModel)]="selectedProductTemp" name="selectedProductTemp"
                (ngModelChange)="manageProductLive('add', $event)">
                <option [value]="0" selected="selectedProductTemp == 0">เพิ่มสินค้าใน Live</option>
                <option *ngFor="let data of productTemp" [value]="data.id" selected="selectedProductTemp == data.id">
                  {{ data.name }}</option>
              </select>
              <button type="button" class="btn btn-success" style="margin-right: 10px;" *ngIf="!liveStatus"
                (click)="getLiveVideo()">
                เชื่อมต่อ FB Live</button>
              <button type="button" class="btn btn-danger" style="margin-right: 10px;" *ngIf="liveStatus"
                (click)="setLiveDefault()">
                ยกเลิก Live</button>
            </div>
            <div class="col-6" style="display: inline-block; text-align: right;">
              <div class="input-group mb-3" style="margin-bottom: 0;">
                <span class="input-group-text">ชื่อ</span>
                <input type="text" class="form-control" [readonly]="true" [value]="socialUser.name">
                <span class="input-group-text">อีเมล</span>
                <input type="text" class="form-control" [readonly]="true" [value]="socialUser.email">
                <button type="button" class="btn btn-danger" (click)="signOut()">ออกจากระบบ</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="margin-bottom: 10px;">
              <div class="card">
                <div class="card-header" style="background-color: #21244b; color: #ffffff;">สินค้าใน FB Live</div>
                <div class="card-body">
                  <table class="table table-striped table-hover">
                    <thead class="table-light">
                      <tr>
                        <th scope="col" class="text-center" style="width: 40px;">#</th>
                        <th scope="col">ชื่อสินค้า</th>
                        <th scope="col">รหัส CF สินค้า</th>
                        <th scope="col">ราคา</th>
                        <th scope="col">คงเหลือ</th>
                        <th scope="col">จำนวน CF</th>
                        <th scope="col" *ngIf="!liveStatus"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of productLive; let i = index;">
                        <th scope="row" class="text-center">{{ (i + 1) }}</th>
                        <td>{{ data.name }}</td>
                        <td>{{ data.condition }}</td>
                        <td>{{ data.price }}</td>
                        <td>{{ data.stock }}</td>
                        <td>{{ data.cf }}</td>
                        <td *ngIf="!liveStatus">
                          <a href="#" (click)="manageProductLive('remove', data.id)">ลบ</a>
                        </td>
                      </tr>
                      <tr *ngIf="!productLive.length">
                        <td colspan="6" style="text-align: center;" *ngIf="liveStatus">ไม่พบรายการ</td>
                        <td colspan="7" style="text-align: center;" *ngIf="!liveStatus">ไม่พบรายการ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header" style="background-color: #21244b; color: #ffffff;">คอมเมนต์ล่าสุด</div>
                <div class="card-body">
                  <table class="table table-striped table-hover">
                    <thead class="table-light">
                      <tr>
                        <th scope="col" class="text-center" style="width: 40px;">#</th>
                        <th scope="col">ชื่อ</th>
                        <th scope="col">คอมเมนต์</th>
                        <th scope="col">วันที่</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of comments; let i = index;">
                        <th scope="row" class="text-center">{{ (i + 1) }}</th>
                        <td>{{ data.name }}</td>
                        <td>{{ data.message }}</td>
                        <td>{{ data.created_time }}</td>
                      </tr>
                      <tr *ngIf="!comments.length">
                        <td colspan="5" style="text-align: center;">ไม่พบรายการ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-header" style="background-color: #21244b; color: #ffffff;">ออเดอร์ที่ลูกค้า CF</div>
                <div class="card-body">
                  <table class="table table-striped table-hover">
                    <thead class="table-light">
                      <tr>
                        <th scope="col" class="text-center" style="width: 40px;">#</th>
                        <th scope="col">ชื่อ</th>
                        <th scope="col">สินค้า</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col">ยอดรวม</th>
                        <th scope="col">วันที่</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of orders; let i = index;">
                        <th scope="row" class="text-center">{{ (i + 1) }}</th>
                        <td>{{ data.name }}</td>
                        <td>{{ data.product['name'] }}</td>
                        <td>{{ data.cf }}</td>
                        <td>{{ data.total }}</td>
                        <td>{{ data.created_time }}</td>
                      </tr>
                      <tr *ngIf="!orders.length">
                        <td colspan="6" style="text-align: center;">ไม่พบรายการ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>